# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.db

# env files
.env*

# generated media (Ignore huge binaries)
static/audio/*
static/video/*
static/uploads/*
static/vtt/*
!static/**/.gitkeep

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
